<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime useLegacyV2RuntimeActivationPolicy="true" version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!--=10.32.131.9-->
		<add key="StringConection" value="Server=.\enterprise;uid=sa;pwd=admin;database=SeSecSel;timeout=9000" />
		<add key="AppDir" value="C:\Files\SeSecEL\SeSecEL\Log\" />
		<add key="AppData" value="C:\Files\SeSecEL\SeSecEL\AppData\" />
		<add key="AppDirData" value="~\AppData\" />
		<add key="AppName" value="SeSecEL" />
		<add key="UpperCase" value="false" />
		<add key="FilePath" value="C:\Users\mxsae\Documents\TestingRecord\" />
	</appSettings>
</configuration>